<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">MENU</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-calendar-minus-o"></i>
                    <span>Cadastros</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Ativo/Index"><i class="fa fa-archive"></i> Ativos</a></li>
                    <li><a href="/Curso/Index"><i class="fa fa-graduation-cap"></i> Cursos</a></li>
                    <li><a href="/Professor/Index"><i class="fa fa-users"></i> Professores</a></li>
                    <li><a href="/Sala/Index"><i class="fa  fa-server"></i> Salas</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>Reservas</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/UI/general.html"><i class="fa fa-archive"></i> Ativos</a></li>
                </ul>
            </li>

          </ul>
    </section>
    <!-- /.sidebar -->
</aside>