@model ApoioMVC.MODEL.Sala

@{
    ViewBag.Title = "Sala";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deletar Sala</title>
</head>
<body>
    <h3>Deseja Realmente Excluir este Registro?</h3>
    <div>
        <h4>Sala</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Salas)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Salas)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Deletar" class="btn btn-danger" />
                @Html.ActionLink("Voltar", "Index", 0, new { @class = "btn btn-success" })
            </div>
        }
    </div>
</body>
</html>
