@model ApoioMVC.MODEL.Curso

@{
    ViewBag.Title = "Curso";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhes</title>
</head>
<body>
    <div>
        <h2>Curso</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Cursos)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cursos)
            </dd>
    
        </dl>
    </div>
    <p>
       @Html.ActionLink("Editar", "Edit", new { id = Model.ID }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Voltar", "Index", 0, new { @class = "btn btn-success" })
    </p>
</body>
</html>
